@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap';
@font-face {
    font-family: "Zacbel X";
    src: local("Zacbel X"),
    url(/assets/fonts/zacbelx-extrabold.ttf) format("truetype");
}


html {
    word-wrap: break-word;
    background-color: black;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

h1,h2,h3,h4 {
    font-family: "Zacbel X";
}

h2 {
    font-size: 96px;
    color: white;
}

.section {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}

.material-design-icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
}
.material-design-icon > .material-design-icon__svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
    position: absolute;
    bottom: -0.125em;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}


.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    opacity: 0;
}
